# Python byte‑code
__pycache__/
*.py[cod]

# SQLite y fixtures JSON
*.sqlite3
*.json

# Entorno virtual y ejecutables
bin/
pyvenv.cfg

# Archivos temporales y logs
logs/
tmp/
*.log

# Media uploads (archivos de usuario)
media/

# Static compilado
staticfiles/

# IDE/editor
.vscode/
.idea/
*.swp

# Configuración sensible
.env
