# Byte-code de Python
__pycache__/
*.py[cod]

# Bases de datos y fixtures
*.sqlite3
*.json

# Entorno virtual y ejecutables
bin/
pyvenv.cfg

# Archivos temporales y logs
logs/
tmp/
*.log

# Archivos de usuario (media uploads)
media/

# Archivos estáticos generados (si usas collectstatic)
staticfiles/

# Carpetas de IDE/editors
.vscode/
.idea/
*.swp

# Configuración sensible
.env
