<!-- /home/innovaol/girapp/main/templates/manage_users.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Gestionar Usuarios{% endblock %}

{% block dashboard_content %}
<div class="container">
  <h2 class="mt-4">Lista de Usuarios</h2>
  <div class="d-flex justify-content-between mb-3">
    {% if perms.main.create_user %}
      <a href="{% url 'create_user' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Crear Usuario
      </a>
    {% endif %}

    {% if perms.main.restore_user %}
      <a href="{% url 'archived_users' %}" class="btn btn-secondary">
        <i class="fas fa-archive"></i> Usuarios Archivados
      </a>
    {% endif %}
  </div>
  <table class="table table-striped sortable">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Grupo</th>
        <th>Últ. acceso</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.group }}</td>
        <td>
          {% if u.last_login %}
            {{ u.last_login|date:"d M Y H:i" }}
          {% else %}
            Nunca
          {% endif %}
        </td>
        <td>
          {% if user.is_active %}
            <span class="badge bg-success">Activo</span>
          {% else %}
            <span class="badge bg-danger">Inactivo</span>
          {% endif %}
        </td>
        <td class="action-buttons">
          {% if perms.main.change_password %}
            <!-- Enlace normal, sin AJAX -->
            <a href="{% url 'change_user_password' u.id %}" 
               class="btn-action-password" 
               data-bs-toggle="tooltip" 
               title="Cambiar Contraseña">
              <i class="fas fa-key action-icon"></i>
            </a>
          {% endif %}

          {% if perms.main.edit_user %}
            <a href="{% url 'edit_user' u.id %}" class="btn-action-edit" data-bs-toggle="tooltip" title="Editar">
              <i class="fas fa-pencil-alt action-icon"></i>
            </a>
          {% endif %}

          {% if perms.main.delete_user %}
            <a href="#" class="btn-action-delete"
               onclick="confirmDelete({{ user.id }}, '/users/delete/{{ user.id }}/', '/users/archive/{{ user.id }}/', 'usuario')"
               data-bs-toggle="tooltip" title="Eliminar">
              <i class="fas fa-trash-alt action-icon"></i>
            </a>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No hay usuarios registrados.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <script src="{% static 'js/users.js' %}"></script>
{% endblock %}
